- title t("budgets.new.title")


.container

  .row

    .col-md-6.col-md-offset-3.form-box

      %h1.heading
        = t("budgets.new.title")
      
      = form_for @budget, :html => {:class => "form-horizontal", :novalidate => "true"} do |form|

        = render :partial => "shared/form-errors", :locals => {:object => @budget}

        = render :partial => "form", :locals => {:form => form}

        .form-actions
          %button.button.button-primary{:type => "submit"}= t("actions.save")
