= link_to image_tag("shared/logo-spendful.png", :alt => t("brand"), :size => "125x50"), root_path, :class => "brand"

.nav.nav-primary.pull-right
  
  = link_to t("home.action"), root_path

  - if logged_in?
  
    - if budgets?
      = link_to t("budget.action"), budget_path((@budget || current_user.budgets.first))
    - else
      = link_to t("budgets.new.action"), budgets_path
    = link_to t("account.action"), account_path

  - else
  
    = link_to t("login.action"), login_path
    = link_to t("signup.action"), signup_path
