- title "Spendful Premium Payment"
- @body_class = "subscription"

- content_for :assets do
  = stylesheet_link_tag "pages/subscription"
  = javascript_include_tag "pages/payment"
  = javascript_include_tag "https://js.stripe.com/v2/"

:javascript
  Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}");

.container

  .col-md-6.col-md-offset-3.form-box

    %h1.heading
      Secure Payment
    
    = form_tag subscriptions_path, {:method => "post", :class => "form-horizontal", :novalidate => "true", :autocomplete => "off", :id => "payment-form"} do

      .payment-errors.form-errors.alert.alert-error.hide
      
      = hidden_field_tag :plan, @plan

      .form-group
        = label_tag :name, "Name on Card", :class => "control-label"
        .controls
          = telephone_field_tag :name, "", :data => {:stripe => "name"}

      .form-group
        = label_tag :address_line1, "House Name/Number", :class => "control-label"
        .controls
          = telephone_field_tag :address_line1, "", :data => {:stripe => "address_line1"}

      .form-group
        = label_tag :address_line2, "Street", :class => "control-label"
        .controls
          = telephone_field_tag :address_line2, "", :data => {:stripe => "address_line2"}

      .form-group
        = label_tag :address_city, "City/Town", :class => "control-label"
        .controls
          = telephone_field_tag :address_city, "", :data => {:stripe => "address_city"}

      .form-group
        = label_tag :address_zip, "Postcode/Zip", :class => "control-label"
        .controls
          = telephone_field_tag :address_zip, "", :data => {:stripe => "address_zip"}
          
      .form-group
        = label_tag :country, "Country", :class => "control-label"
        .controls
          = select_tag :country, options_for_select([["Choose one...", nil]]) + country_options_for_select

      .form-group
        = label_tag :number, "Credit Card Number", :class => "control-label"
        .controls
          = telephone_field_tag :number, "", :data => {:stripe => "number"}

      .form-group
        = label_tag :cvc, "CVC", :class => "control-label"
        .controls
          = telephone_field_tag :cvc, "", :data => {:stripe => "cvc"}

      .form-group
        = label_tag :expiration, "Expiration", :class => "control-label"
        .controls
          = select_tag :expiration_month, options_for_select((1..12).map {|n| "%02d" % n}), :data => {:stripe => "exp-month"}, :class => "expiration-month"
          = select_tag :expiration_year, options_for_select((Date.today.year..(Date.today.year + 10)).map {|n| "%02d" % n}), :data => {:stripe => "exp-year"}, :class => "expiration-year"

      .form-actions
        %button.button.button-primary{:type => "submit"} Pay
